page: {{ page }}<br />

{% assign api_base = append: page.host | append: page.basePath | append: path %}
api_base1: {{ api_base }}<br />
{% assign api_base = api_base | replace: '//','' %}
api_base2: {{ api_base }}<br />
{% assign api_url = page.schemes[0] | append: '://' | append: api_base %}
api_url: {{ api_url }}<br />
{% assign api_query = '' %}
{% for parameter in api_path_parameters %}
  {% if parameter.in == 'query' %}
    {% assign api_query = api_query | append: '&' | append: parameter.name | append: '={field_value}' %}
  {% endif %}
{% endfor %}
